<div>
    <h1>SOBRE MI</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, cupiditate doloremque. Quas quisquam nihil quos voluptate debitis nesciunt asperiores id suscipit voluptates ullam consectetur voluptatum aliquam aspernatur illum, totam aut!</p>
</div>

<style>
    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1{
        color: red;
    }
</style>