---
import "bootstrap/dist/css/bootstrap.min.css";
---
<nav class="navbar bg-body-tertiary navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="public/pngegg.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
        </a>
    </div>
</nav>