<div class="contenedor-principal">
    <div class="textos">
        <h3>
            Hola!
        </h3>
        <h4>
            Soy Mathías Trasmonte
        </h4>
        <h3>
            Junior Front-End Developer
        </h3>
    </div>
    <img src="public/undraw_pancakes_239t.svg" alt="">
</div>

<style>

    h3{
        font-size: 30px;
    }

    h4{
        font-weight: 700;
        font-size: 25px;
    }

    html{
        font-family: 'Poppins', sans-serif;
    }

    .contenedor-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .textos{
        display: flex;
        flex-direction: column;
    }

</style>